body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

header {
    background-color: blue;
    text-align: center;
    height: 6rem;
    padding-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.content {
    margin: auto 2rem;
}

#search {
    width: 14rem;
}

#search-button {
    width: 14rem;
}